#profile {
    width: 300px;
}

h2 {
    font-size: 60px;
    padding: 20px;
}

p {
    font-size: 30px;
    padding: 30px;
    margin: 30px;
}

#heading {
    font-size: 72px;
}

img {
    margin: 20px;
}

.aboutMe {
        padding: 20px;
        position: fixed;
        left: 85px;
}

#blurb {
    margin-top: 110px;
}