.aboutMe {
    align-content: center;
    justify-items: center;
}

#profile {
    width: 300px;
}

h2 {
    font-size: 36px;
    padding: 20px;
}

p {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
}

img {
    margin: 20px;
}

/* @media (max-width: 576px) {
    #profile {
        width: 100px;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    #profile {
        width: 100px;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    #profile {
        width: 100px;
    }
} */