#profile {
    width: 300px;
}

h2 {
    font-size: 60px;
    padding: 20px;
}

p {
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    font-style: italic;
}

#heading {
    font-size: 72px;
}

img {
    margin: 20px;
}

.aboutMe {
        position: fixed;
        left: 125px;
        display: flex;
}

#blurb {
    margin-top: 110px;
}

.sidebar {
    background-color: rgb(253, 248, 248);
    height: 100vh;
}