.card-text {
    color: white;
    padding-top: 432px;
    padding-left: 50px;
    text-align: center;
    font-size: 24px;
}

.card-title {
    color: white;
    font-size: 30px;
    text-align: center;
}

#projects {
    background-color: rgba(255, 255, 0, 0.678);
    padding-bottom: 95px;
    padding-top: 15px;
}

.card {
    justify-content: center;
}

.links {
    color: white;
    font-style: normal;
}