.resumePage {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px dashed black;
}

ul {
    list-style-type: none;
    margin: 10px;
}

#resumelink {
    font-size: 30px;
    margin: 20px;
    padding: 20px;
}

.listtitle {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.tech {
    font-size: 20px;
    padding-bottom: 25px;
}