.page {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: rgb(165, 136, 136);
    height: 100vh;
}

.footerlist {
    text-align: center;
    list-style-type: none;
    padding-top: 20px;
    margin-top: 10x;
}

.footeritems {
    display: inline;
    margin: 20px;
    font-size: 20px;
    color: grey;
}

.footer {
    background-color: rgb(29, 29, 27);
    margin: 0;
    padding: 0;
    height: 75px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#name {
    font-size: 40px;
    padding: 20px;
    position: fixed;
    left: 100px;
}

.links {
    font-size: 30px;
    margin: 20px;
}

a {
    margin: 10px;
}

@media (max-width: 576px) {
    #name {
        font-size: 20px;
        padding: 10px;
        position: fixed;
        left: 50px;
        top:20px;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    #name {
        font-size: 20px;
        padding: 10px;
        position: relative;
        right: 50px;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    #name {

        position: fixed;
        left: 50px;
    }
}