.page {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* #content {
    display: flex;
} */

.footer {
    text-align: center;
}

#name {
    font-size: 40px;
    padding: 20px;
    position: relative;
    right: 300px;
}

.links {
    font-size: 30px;
    padding: 20px;
}

@media (max-width: 576px) {
    #name {
        font-size: 20px;
        padding: 10px;
        position: relative;
        right: 100px;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    #name {
        font-size: 20px;
        padding: 10px;
        position: relative;
        right: 50px;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    #name {

        position: relative;
        right: 50px;
    }
}